@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-blue: #0084fd;
  --secondary-blue: #b5ddff;
  --main-purple: #9792e4;
  --text-w: #fff;
  --text-b: #000;
  --default-gap: 20px;
}

html {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

img {
  display: block;
}

.wrapper {
  width: 75%;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: var(--text-w);
}

li {
  list-style-type: none;
}

.btn {
  padding: 5px 20px;
  border-radius: 30px;
}

.btn-white {
  background-color: var(--text-w);
}

.btn:hover {
  background-color: var(--secondary-blue);
}

.btn-white a {
  color: var(--text-b);
}

/********* Header + Nav***********/
header {
  background-color: var(--primary-blue);
  color: var(--text-w);
  padding-block: 1rem;
}
.hamburger {
  display: none;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  gap: var(--default-gap);
}

nav ul li {
  padding: 5px 8px;
}
/*********MAIN ***********/

section {
  padding-block: 3rem;
}

section:nth-child(even) {
  background-color: var(--main-purple);
}

/*** Get demo app part section*/

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: var(--default-gap);
}

.card {
  flex-basis: calc((100% / 3) - (13.33px));
  border-radius: 20px;
  padding: 20px;
  line-height: 1.8;
}
#demo .cards {
  color: #5f7486;
}

#demo .cards .card {
  background-color: var(--secondary-blue);

  flex-basis: calc((100% / 3) - (13.33px));
  text-align: center;

  font-weight: 700;
}

#demo .cards .card h2 {
  color: var(--primary-blue);
  text-transform: capitalize;
}

#demo .cards .card.card-lg {
  padding: 0;
  text-align: left;
  flex-basis: calc(((100% / 3.03) * 2));
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: var(--default-gap);
  overflow: hidden;
}

#demo .cards .card.card-lg a {
  background-color: var(--primary-blue);
}
#demo .cards .card.card-lg > div {
  padding: 20px 50px;
  flex-basis: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: calc(var(--default-gap) * 2.2);
}
#demo .cards .card.card-lg figure {
  height: 100%;
  flex-basis: 40%;
  padding-top: 2rem;
}

#demo .cards .card.card-lg figure img {
  margin-top: 5px;
  height: 100%;
  width: 100%;
}

#demo .cards .card.card-others {
  display: flex;
  flex-direction: column;
  gap: var(--default-gap);
  justify-content: center;
}

#demo .cards .card figure.icon svg {
  fill: var(--primary-blue);
  height: 5rem;
}

/***** Planning section********/
#planning .wrapper {
  width: 50%;
}
#planning .container {
  line-height: 1.8;
  padding: 5rem;
  display: flex;
  column-gap: var(--default-gap);
  justify-content: center;
  align-items: center;
}

#planning .container .plan-right,
#planning .container .plan-left {
  flex-basis: 50%;
  color: var(--text-w);
}

#planning .container .plan-right {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: calc(var(--default-gap));
}
#planning .container .plan-right figure img {
  width: 100%;
}

#planning .container .plan-left {
  color: var(--text-b);
  padding: 1.5rem;
  background-color: #fff;
  border-radius: 20px;
  height: 50%;
  line-height: 2;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: var(--default-gap);
  align-items: center;
  transform: scale(0.8);
  margin-top: 18%;
}

#planning .container .plan-left figure img {
  width: 100%;
}

#planning .container .plan-left p {
  padding-bottom: 0.2rem;
}

#planning .container .plan-left span {
  height: 50px;
  width: 50px;
  padding: 10px;
  border-radius: 50%;
  background-color: var(--main-purple);
}

/******** Testimonials section***/
#testimonials .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--default-gap);
}
#testimonials .container span {
  text-transform: uppercase;
}
#testimonials .container h1 {
  color: var(--main-purple);
  font-size: 2.5rem;
}

#testimonials .container .testimone {
  display: flex;
  background-color: var(--main-purple);
  color: var(--text-w);
  padding: 3rem;
  border-radius: 20px;
  align-items: center;
  gap: var(--default-gap);
}

.avatar {
  width: 20%;
  aspect-ratio: 1;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#testimonials .container .testimone .avatar.av1 {
  background-image: url("./img/testimonial1.jpg");
}

#testimonials .container .testimone .quote blockquote {
  padding-bottom: 1rem;
}

#testimonials .container .testimone .avatar.av2 {
  background-image: url("./img/testimonial2.jpg");
}

#testimonials .container .testimone .avatar.av3 {
  background-image: url("./img/testimonial3.jpg");
}

/**** Features Section ***/
#features .wrapper {
  text-align: center;
  color: var(--text-w);
}
#features h2 {
  font-size: 3rem;
}

#features .wrapper .cards {
  margin-top: 1rem;
}

#features .wrapper .card {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: var(--default-gap);
  background-color: var(--text-w);
  color: var(--main-purple);
}

#features .wrapper .card h3 {
  text-transform: capitalize;
  font-size: 1.5rem;
}

.btn-purple {
  background-color: var(--main-purple);
  color: var(--text-w);
  font-weight: bold;
}

/****** About Us Section*****/

#about-us .container {
  display: flex;
  gap: var(--default-gap);
}
#about-us .container:first-child h2,
#about-us .container:last-child h4 {
  color: var(--main-purple);
}

#about-us .container:first-child h2 {
  font-size: 3rem;
}

#about-us .container .left-container {
  flex-basis: 80%;
  display: flex;
  flex-direction: column;
  gap: calc(var(--default-gap) * 2);
}

#about-us .container .right-container {
  position: relative;
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
  gap: var(--default-gap);
  padding: 20px;
  align-items: center;
}

#about-us .container .right-container .avatar {
  width: 80%;
}

#about-us .container .right-container .avatar.av-about {
  background-image: url("./img/about.jpg");
}

#about-us .container .right-container .btn {
  font-size: 0.7rem;
}

#quote-mark {
  font-size: 4rem;
  color: var(--main-purple);
  position: absolute;
  top: 0;
  right: 0;
}

/**** Get started section*****/
#get-started {
  color: var(--text-w);
}

#get-started .wrapper,
footer .wrapper {
  text-align: center;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: var(--default-gap);
  align-items: center;
}

#gs {
  text-transform: uppercase;
  font-size: 1rem;
  color: #b9b7ed;
}

#get-started .wrapper h3 {
  font-size: 2rem;
}

#get-started .wrapper h2 {
  font-size: 3rem;
  color: #fdc15f;
}

#get-started .wrapper .btn {
  color: var(--main-purple);
  font-weight: bold;
}
#get-started span a {
  text-decoration: underline;
}

/*****Foooter***/
footer {
  padding: 3rem 1rem;
  background-color: #333333;
  color: var(--text-w);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer span a {
  color: var(--main-purple);
  text-decoration: underline;
}
/*****MEdia query Tablet view******/
@media screen and (max-width: 850px) {
  .wrapper {
    padding-inline: 1rem;
  }

  header nav .nav-bar {
    display: none;
  }

  .hamburger {
    padding: 5px;
    display: flex;
    flex-direction: column;
    width: 40px;
    height: 40px;
    justify-content: space-evenly;
    gap: 5px;
  }

  .hamburger .hamburger-line {
    width: 100%;
    height: 4px;
    background-color: #fff;
  }

  .cards {
    gap: 10px;
  }
  .card.card-others {
    flex-basis: calc((100% / 3) - (6.66px));
  }
  #demo .cards .card.card-lg {
    flex-basis: calc(((100% / 3.1) * 2));
  }
  /*planning*/
  #planning .wrapper {
    width: 100%;
    padding: 0;
  }

  #planning .container {
    line-height: 1.8;

    display: flex;
    flex-direction: column;
    column-gap: var(--default-gap);
    justify-content: center;
    align-items: stretch;
  }

  #planning .container .plan-right,
  #planning .container .plan-left {
    flex-basis: 100%;
  }
}
