@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-blue: #0084fd;
  --secondary-blue: #b5ddff;
  --main-purple: #9792e4;
  --text-w: #fff;
  --text-b: #000;
  --default-gap: 10px;
}

html {
  font-family: "PT Sans", sans-serif;
}
